{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "react/require-extension": 0,
    "react/jsx-filename-extension": 0,
    "arrow-body-style": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "react/forbid-prop-types": 0,
  },
}
